<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome! {% endblock %}</title>

        <!-- indique que le site est "responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"
              href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}

        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}

        <script src="{{ asset('assets/js/scripts.js') }}" defer></script>

        {% endblock %}
    </head>

    <body>
        {% include "_partials/_header.html.twig" %}

        {% block body %}

        {% endblock %}

        {% include "_partials/_footer.html.twig" %}

    </body>
</html>
